$vue-ui-white       = #ffffff
$vue-ui-black       = #0b1015
// Gray
$vue-ui-gray-900    = #1d2935
$vue-ui-gray-800    = #2c3e50
$vue-ui-gray-700    = #3e5770
$vue-ui-gray-600    = #4f6f7f
$vue-ui-gray-500    = #809fae
$vue-ui-gray-400    = #93b0be
$vue-ui-gray-300    = #b6c6ce
$vue-ui-gray-200    = #c8d3d9
$vue-ui-gray-100    = #e0e5e7
// Primary
$vue-ui-primary-900 = #034124
$vue-ui-primary-800 = #085e37
$vue-ui-primary-700 = #13794a
$vue-ui-primary-600 = #299f69
$vue-ui-primary-500 = #42b983
$vue-ui-primary-400 = #56cd96
$vue-ui-primary-300 = #89deb7
$vue-ui-primary-200 = #abeacd
$vue-ui-primary-100 = #e0f8ed
// Accent
$vue-ui-accent-900  = #350066
$vue-ui-accent-800  = #4f0098
$vue-ui-accent-700  = #6806c1
$vue-ui-accent-600  = #8929e3
$vue-ui-accent-500  = #a44cf6
$vue-ui-accent-400  = #b96dff
$vue-ui-accent-300  = #c88eff
$vue-ui-accent-200  = #d7adff
$vue-ui-accent-100  = #e6ccff
// Danger
$vue-ui-danger-900  = #500000
$vue-ui-danger-800  = #850505
$vue-ui-danger-700  = #ac0d0d
$vue-ui-danger-600  = #cd1b1b
$vue-ui-danger-500  = #e83030
$vue-ui-danger-400  = #f44747
$vue-ui-danger-300  = #ff6565
$vue-ui-danger-200  = #ff9494
$vue-ui-danger-100  = #ffcaca
// Warning
$vue-ui-warning-900 = #702200
$vue-ui-warning-800 = #943800
$vue-ui-warning-700 = #b54d01
$vue-ui-warning-600 = #c85900
$vue-ui-warning-500 = #ea6e00
$vue-ui-warning-400 = #ff8915
$vue-ui-warning-300 = #ffa733
$vue-ui-warning-200 = #ffc45e
$vue-ui-warning-100 = #ffe6b0
// Info
$vue-ui-info-900    = #004576
$vue-ui-info-800    = #006294
$vue-ui-info-700    = #007db1
$vue-ui-info-600    = #0098c4
$vue-ui-info-500    = #03c2e6
$vue-ui-info-400    = #74e0ed
$vue-ui-info-300    = #9ae6ef
$vue-ui-info-200    = #bceef1
$vue-ui-info-100    = #e3f5f6

// Legacy
$vue-ui-color-light           = #fff
$vue-ui-color-light-neutral   = #e4f5ef
$vue-ui-color-dark            = #2c3e50
$vue-ui-color-dark-neutral    = #4f6f7f
$vue-ui-color-darker          = #1d2935
$vue-ui-color-almost-black    = #0b1015
$vue-ui-color-primary         = #42b983
$vue-ui-color-accent          = #6806c1
$vue-ui-color-accent-light    = lighten($vue-ui-color-accent, 60%)
$vue-ui-color-danger          = #e83030
$vue-ui-color-warning         = #ea6e00
$vue-ui-color-info            = #03c2e6
$vue-ui-color-success         = #42b983
