$vue-ui-color-light          = #fff
$vue-ui-color-light-neutral  = #e4f5ef
$vue-ui-color-dark           = #2c3e50
$vue-ui-color-dark-neutral   = #4f6f7f
$vue-ui-color-primary        = #42b983
$vue-ui-color-accent         = #6806C1
$vue-ui-color-danger         = #e83030
$vue-ui-color-warning        = #ea6e00
$vue-ui-color-info           = #03c2e6
$vue-ui-color-success        = #42b983
