.tooltip
  $arrow-size = 5px
  $tooltip-animation-duration = .12s
  $background = $color-dark
  $color = $color-light

  display block !important
  z-index 999999

  .tooltip-inner
    background $background
    color $color
    border-radius $br
    padding 4px 8px
    font-size .95em
    max-width 200px

  .tooltip-arrow
    width $arrow-size
    height $arrow-size
    position absolute
    margin $arrow-size
    z-index 1

    &::before,
    &::after
      content ''
      width 0
      height 0
      border-style solid
      position absolute
      border-width inherit
      top 0
      left 0

    &::before
      border-color $grey-alto
      display none

    &::after
      border-color $background

  &[x-placement^='top']
    margin-bottom $arrow-size

    .tooltip-arrow
      bottom -($arrow-size)
      left 'calc(50% - %s)' % $arrow-size
      margin-top 0
      margin-bottom 0

      &::before,
      &::after
        left (-($arrow-size) / 2)

      &::before
        top 1px

      &::after,
      &::before
        border-width $arrow-size $arrow-size 0 $arrow-size
        border-left-color transparent !important
        border-right-color transparent !important
        border-bottom-color transparent !important

  &[x-placement^='bottom']
    margin-top $arrow-size

    .tooltip-arrow
      top -($arrow-size)
      left 'calc(50% - %s)' % $arrow-size
      margin-top 0
      margin-bottom 0

      &::before,
      &::after
        left (-($arrow-size) / 2)

      &::before
        top -1px

      &::after,
      &::before
        border-width 0 $arrow-size $arrow-size $arrow-size
        border-left-color transparent !important
        border-right-color transparent !important
        border-top-color transparent !important

  &[x-placement^='right']
    margin-left $arrow-size

    .tooltip-arrow
      left -($arrow-size)
      top 'calc(50% - %s)' % $arrow-size
      margin-left 0
      margin-right 0

      &::before,
      &::after
        top (-($arrow-size) / 2)

      &::before
        left -1px

      &::after,
      &::before
        border-width $arrow-size $arrow-size $arrow-size 0
        border-left-color transparent !important
        border-top-color transparent !important
        border-bottom-color transparent !important

  &[x-placement^='left']
    margin-right $arrow-size

    .tooltip-arrow
      right -($arrow-size)
      top 'calc(50% - %s)' % $arrow-size
      margin-left 0
      margin-right 0

      &::before,
      &::after
        top (-($arrow-size) / 2)

      &::before
        left 1px

      &::after,
      &::before
        border-width $arrow-size 0 $arrow-size $arrow-size
        border-top-color transparent !important
        border-right-color transparent !important
        border-bottom-color transparent !important


  &.popover
    $background = $color-light-neutral
    $color = $color-dark
    $border = $color-light

    .popover-inner
      background $background
      border 1px solid $border
      color $color
      position relative
      padding 4px 0
      border-radius $br
      max-width none

    .popover-arrow
      &::after
        border-color $background

      &::before
        display block
        border-color $border

    &[x-placement^='top']
      .popover-inner
        bottom -1px

    &[x-placement^='bottom']
      .popover-inner
        top -1px

    &[x-placement^='left']
      .popover-inner
        right -1px

    &[x-placement^='right']
      .popover-inner
        left -1px

  // Hidden
  &[aria-hidden='true']
    visibility hidden
    opacity 0
    transition opacity $tooltip-animation-duration, visibility $tooltip-animation-duration

    &.popover
      &[x-placement^='top']
        > .wrapper
          animation vue-slide-to-bottom $tooltip-animation-duration
      &[x-placement^='bottom']
        > .wrapper
          animation vue-slide-to-top $tooltip-animation-duration
      &[x-placement^='left']
        > .wrapper
          animation vue-slide-to-right $tooltip-animation-duration
      &[x-placement^='right']
        > .wrapper
          animation vue-slide-to-left $tooltip-animation-duration

  // Visible
  &[aria-hidden='false']
    visibility visible
    opacity 1
    transition opacity $tooltip-animation-duration

    &.popover
      &[x-placement^='top']
        > .wrapper
          animation vue-slide-from-bottom $tooltip-animation-duration
      &[x-placement^='bottom']
        > .wrapper
          animation vue-slide-from-top $tooltip-animation-duration
      &[x-placement^='left']
        > .wrapper
          animation vue-slide-from-right $tooltip-animation-duration
      &[x-placement^='right']
        > .wrapper
          animation vue-slide-from-left $tooltip-animation-duration
